<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
    <p>Dear <%= name %>,</p>
    <p>Welcome to PassMe Point! We’re excited to have you as part of the team at <%=companyName%></p>
    <p>Here are the login details for your company account:</p>
    <ul>
        <li><p>Username : <%= username %>!</p></li>
        <li><p>Password : <%= password %>!</p></li>
        <li><p>QR : <img src="<%=qrCodeImage%>"/></p></li>
    </ul>
    <p>You can log in to your account at any time by visiting https://passmepoints.com/login .</p>
    <p>Through your account, you’ll have access to tools and features that help manage and enhance the company’s loyalty program effectively. Should you have any questions or need support, please feel free to reach out to your manager or our support team at info@buypassme.com .</p>
    <p>We’re thrilled to have you on board and look forward to your contributions!</p>
    <footer>
        <p>Best regards,</p>
        <p>PassMe Point Team</p>
    </footer>
</body>
</html>
